[Unit]
Description=hexcapt
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/local/bin/hexcapt
KillSignal=SIGINT
Restart=always
RestartSec=1
StandardOutput=journal

[Install]
WantedBy=multi-user.target

